*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

.gameboard {
    margin-top: 50px;
    display: grid;
    justify-content: center;
    grid-template-columns: 0fr 0fr 0fr;

}

.gameboard.no-pointer {
    pointer-events: none;
}

.gameboard > .box {
    background-color: black;
    border: solid 1px rgb(255, 255, 255);
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10rem;
    cursor: pointer;
}

.gameboard p {
    transform: scale(0);
    color: white;
    transition: 500ms;
}

.gameboard p.show {
    transform: scale(1);
}

.results-table {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: 1.5s;
}

.results-table.show {
    opacity: 1;
}

button {
    width: 15%;
}






