*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --background-clr: #f2643d;
    --board-clr: #ffffff;
    --border-and-text-clr: #000000;
}

body {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--background-clr);
    font-size: 1.5rem;
}

.gameboard {
    margin-top: 50px;
    display: grid;
    justify-content: center;
    grid-template-columns: 0fr 0fr 0fr;
    background-color: var(--board-clr);
    border-radius: 14px;
    border: solid 4px var(--border-and-text-clr);

}

.gameboard.no-pointer {
    pointer-events: none;
}

.gameboard > .box {
    border-right: solid 2px var(--border-and-text-clr);
    border-bottom: solid 2px var(--border-and-text-clr);
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10rem;
    cursor: pointer;
}

.gameboard p {
    transform: scale(0);
    color: var(--border-and-text-clr);
    transition: 500ms;

}

.gameboard p.show {
    transform: scale(1);
}

.results-table {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: 1.5s;
    font-size: 1.5rem;
    font-weight: bold;
    background-color: var(--board-clr);
    padding: 30px;
    margin-top: 30px;
    border-radius: 20px;
    box-shadow: 7px 7px 0px 1px var(--border-and-text-clr);
}

.results-table.show {
    opacity: 1;
}
button {
    font-size: 1rem;
    min-width: 10%;
    box-shadow: 2px 2px 0px 1px var(--border-and-text-clr);
    font-weight: bold;
}

button.submit {
    background-color: var(--background-clr);
    color: var(--board-clr);
}

.user-input {
    position: fixed;
    top: 30%;
    width: 20%;
    min-width: 260px;
    height: 20%;
    border-radius: 12px;
    background-color: var(--board-clr);
    visibility: hidden;
    transform: scale(0);
    transition: 0.2s;
    z-index: 10;
}

.user-input.active {
    visibility: visible;
    transform: scale(1);
}

.user-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    gap: 20px;
}

.user-form input {
    border: none;
    border-radius: 8px;
    padding: 7px;
    border: solid 2px var(--border-and-text-clr);
}

button {
    background-color: white;
    border: solid 2px black;
    border-radius: 8px;
    padding: 7px 15px 7px 15px;
}

#overlay {
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0, .5);
    pointer-events: none;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}








