*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

.gameboard {
    margin-top: 50px;
    display: grid;
    justify-content: center;
    grid-template-columns: 0fr 0fr 0fr;

}

.gameboard.no-pointer {
    pointer-events: none;
}

.gameboard > .box {
    background-color: black;
    border: solid 1px rgb(255, 255, 255);
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10rem;
    cursor: pointer;
}

.gameboard p {
    transform: scale(0);
    color: white;
    transition: 500ms;
}

.gameboard p.show {
    transform: scale(1);
}

.results-table {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: 1.5s;
}

.results-table.show {
    opacity: 1;
}

button {
    min-width: 10%;
}

.user-input {
    position: fixed;
    top: 30%;
    width: 20%;
    min-width: 260px;
    height: 20%;
    border: solid 2px white;
    background-color: darkgray;
    visibility: hidden;
    transform: scale(0);
    transition: 0.2s;
    z-index: 10;
}

.user-input.active {
    visibility: visible;
    transform: scale(1);
}

.user-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    gap: 20px;
}

.user-form input {
    border: none;
    border-radius: 8px;
    padding-left: 7px;
}

button {
    background-color: white;
    border: solid 2px black;
    border-radius: 8px;
    padding: 7px 15px 7px 15px;
}

#overlay {
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0, .5);
    pointer-events: none;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}








